* {
  font-family: sans-serif;
  font-size: 30px;
}

body {
  background-color: #3a8fe8;
}

.container {
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 100px;
  background-color: #94989e;
  font-family: sans-serif;
  font-size: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.display {
  position: relative;
  display: inline-block;
  height: 70px;
  width: 460px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  float: left;
  overflow: scroll;
  text-align: right;
}

.expression {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 460px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  float: left;
  overflow: scroll;
  text-align: right;
  font-size: 20px;
}

.keypad {
  position: relative;
  display: inline-block;
  width: 463px;
  margin-top: 15px;
  margin-left: 19px;
  margin-right: 19px;
  height: 375px;
}

.control-btn {
  position: relative;
  width: 37.5% !important;
  height: 62.5px;
  float: left;
  text-align: center;
  vertical-align: center;
}

.button {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 62.5px;
  float: left;
}

.operator {
  background-color: #d77209;
}

#equal {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 62.5px;
  float: left;
  background-color: #d77209;
}

.zero {
  width: 50%;
}

button {
  border-style: solid;
  border-color: #94989e;
}
