* {
  font-family: sans-serif;
  font-size: 30px;
}

body {
  background-color: #3a8fe8;
}

.container {
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 100px;
  background-color: #94989e;
  font-family: sans-serif;
  font-size: 100px;
}

.display {
  position: relative;
  display: inline-block;
  height: 70px;
  width: 460px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  float: left;
}

.keypad {
  position: relative;
  display: inline-block;
  width: 463px;
  margin-top: 15px;
  margin-left: 19px;
  margin-right: 19px;
  height: 375px;
}

.control-btn {
  position: relative;
  width: 37.5% !important;
  height: 62.5px;
  float: left;
  text-align: center;
  vertical-align: center;
}

.button {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 62.5px;
  float: left;
}

.operator {
  background-color: #d77209;
}

.zero {
  width: 50%;
}
